[run]
source = src

omit =
    src/main.py
    */__init__.py
    src/helpers/create_graph_db.py
    src/graph_db/graph.py

[report]
show_missing = true

exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == .__main__.:
    raise NotImplementedError
    \.\.\.

[html]
directory = htmlcov
