name: PR Check

on:
  pull_request:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: 3.13

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint

    - name: pylint check
      run: |
        pylint $(git ls-files '*.py')

    - name: mypy check
      run: |
        echo "Mypy stub"

    - name: isort check
      run: |
        echo "isort stub"

    - name: black check
      run: |
        echo "black stub"

    - name: unittests check
      run: |
        echo "unittests stub"
